image: ralfjung/opam-ci:opam2

stages:
  - build

variables:
  CPU_CORES: "10"
  OCAML: "ocaml-variants.4.14.0+options ocaml-option-flambda"
  # Avoid needlessly increasing our TCB with native_compute
  COQEXTRAFLAGS: "-native-compiler no"

.only_branches: &only_branches
  rules:
  - if: $CI_PROJECT_NAMESPACE != "iris"
    when: never
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "master"
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH =~ /^ci.*/

.only_mr: &only_mr
  rules:
  - if: $CI_PROJECT_NAMESPACE != "iris"
    when: never
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"

.branches_and_mr: &branches_and_mr
  rules:
  - if: $CI_PROJECT_NAMESPACE != "iris"
    when: never
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "master"
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH =~ /^ci.*/
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"

.branches_and_dune_label: &branches_and_dune_label
  rules:
  - if: $CI_PROJECT_NAMESPACE != "iris"
    when: never
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "master"
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH =~ /^ci.*/
  - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS =~ /.*CI-dune-job.*/

.template: &template
  <<: *only_branches
  stage: build
  interruptible: true
  tags:
  - fp
  script:
  - git clone https://gitlab.mpi-sws.org/iris/ci.git ci -b opam2
  - ci/buildjob
  cache:
    key: "$CI_JOB_NAME"
    paths:
    - _opam/

## Build jobs

# The newest version runs with timing.
build-rocq.9.0.0:
  <<: *template
  variables:
    OPAM_PINS: "rocq-core version 9.0.0   rocq-stdlib version 9.0.0"
    DENY_WARNINGS: "1"
    MANGLE_NAMES: "1"
    OPAM_PKG: "1"
    DOC_DIR: "coqdoc@center.mpi-sws.org:iris"
    DOC_OPTS: "--external https://plv.mpi-sws.org/coqdoc/stdpp/ stdpp"
  tags:
  - fp-timing
  interruptible: false

# The newest version also runs in MRs, without timing.
build-rocq.9.0.0-mr:
  <<: *template
  <<: *only_mr
  variables:
    OPAM_PINS: "rocq-core version 9.0.0   rocq-stdlib version 9.0.0"
    DENY_WARNINGS: "1"
    MANGLE_NAMES: "1"

# Also ensure Dune works (broken on older Coq versions due to Stdlib split).
build-coq.9.1.dev-dune:
  <<: *template
  <<: *branches_and_dune_label
  variables:
    OPAM_PINS: "dune version 3.19.1   rocq-core version 9.1.dev   rocq-stdlib version dev"
    MAKE_TARGET: "dune"

build-coq.8.20.1:
  <<: *template
  variables:
    OPAM_PINS: "coq version 8.20.1"
    DENY_WARNINGS: "1"

# The oldest version runs in MRs, without name mangling.
build-coq.8.19.2:
  <<: *template
  <<: *branches_and_mr
  variables:
    OPAM_PINS: "coq version 8.19.2"

trigger-stdpp.dev:
  <<: *template
  variables:
    STDPP_REPO: "iris/stdpp"
    OPAM_PINS: "coq version $NIGHTLY_COQ   git+https://gitlab.mpi-sws.org/$STDPP_REPO#$STDPP_REV"
    CI_COQCHK: "1"
  rules:
  - if: $CI_PROJECT_NAMESPACE != "iris"
    when: never
  - if: $CI_PIPELINE_SOURCE =~ /^(trigger|api|schedule)$/
